// colors
$color:#dab139;
$color1:#65a685;
$color2:rgb(129, 134, 197);
$color3:#0dcaf0;
$color4:rgb(168, 197, 174);
$color5:#8a3e06;
$color6:#423a34 ;
$color7:#20c997;

// fonts
$allison:'Allison';
$azeret:'Azeret Mono';
$italic:italic;
$bold:bold;


// display
$center:center;
$display:flex;
$align:center;
$around:space-around;
$auto:0 auto;




// sizes
$size:25px;
$border:50px;
$margin:40px;
$width:350px;
$padding:20px 0;
$size2:40px;
$padding2:20px 30px;
// responsive
$first:800px;
$second:400px;




